$color-primary: #2DB67D;
$color-secondary: #00ffec;

$color-text: #002216;
$color-text-light: #727976;
$color-text-bright: #fff;

$color-light: #fff;
$color-background: #f4f5f9;

$font-header: 'Open Sans', sans-serif;
$font-text: 'Open Sans', sans-serif;

$base-size: 12px;
$radius: 40px;